/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

.flip-container{
	height: 575px;
	padding-top: 25px;
	padding-bottom: 10px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);

    background-color: #F7F7F7;
    padding: 25px 30px 35px;
    margin: 0 auto 25px;
    margin-top: 20px;
     /* shadows and rounded borders */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}
