body {
  padding-top: 50px;
}

#navlinks
{
  padding-right: 15px;
}

#login-header
{
  margin-top: 0px;
}

.textshadow
{
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  color: white;
}
