body 
{
  padding-top: 50px;
}

#navlinks
{
  padding-right: 15px;
}

#login-header
{
  margin-top: 0px;
}

#reg-legend
{
  padding-bottom: 10px;
}

.5px-padding-left
{
  padding-left: 5px; 
}

.5px-padding-right
{
  padding-right: 5px;
}

.text-anywhere
{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}
