body {
  padding-top: 50px;
}

#navlinks
{
  padding-right: 15px;
}

#login-header
{
  margin-top: 0px;
}

.textshadow
{
  text-shadow: 2px 2px 0px #6D6D6D; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  color: white;
}
